@model PRCS1.Models.ThalassimiaInfo

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>ThalassimiaInfo</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Contact, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Contact, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Contact, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ThelesemiaStatus, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="ThelesemiaStatus">
                    <option value="">--Select--</option>
                    <option value="Alive">Alive</option>
                    <option value="Deceased">Deceased</option>
                </select>
                @*
               @Html.EditorFor(model => model.ThelesemiaStatus, new { htmlAttributes = new { @class = "form-control" } })
               @Html.ValidationMessageFor(model => model.ThelesemiaStatus, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RegOrIrreg, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="RegOrIrreg">
                    <option value="">--Select--</option>
                    <option value="Regular">Regular</option>
                    <option value="Irragular">Irragular</option>
                </select>

                @*@Html.EditorFor(model => model.RegOrIrreg, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RegOrIrreg, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
